/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

.header_text {
    margin: 0;
    color: #8B0000;
}

.find-apart {
    margin-left: 2em;
    margin-bottom: 1em;
}

.find-form {
    border: 1px solid grey;
    height: 40px;
    border-radius: .25rem;

}

.find-heading {
    font-size: xx-large;
}

.width-20 {
    width: 20%;
}

.comment {
    border: 1px solid grey;
    height: 150px;
    width: 450px;
    margin-top: 10px;
    border-radius: .25rem;
}

/*footer{
    /*position: absolute;
left: 0; bottom: 0;
    width: 100%;  Ширина слоя
}*/

.center-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-header {
    width: auto;
    padding: 0 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 100px;
    justify-content: center;
    align-items: center;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.box2 {
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 10px;
}

.box1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.rooms-header {
    margin-top: 10px;
    color: #6a1a21;
    align-content: center;
}

#div1 {
    display: none;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.stars {
    margin-bottom: 2px;
}

.dropdown-favs {
    display: none;
    margin-bottom: 10px
}

.round {
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0 0 grey, 0 0 5px #333; /* Параметры теней */
    margin-right: 50%;
    margin-left: 40%;
    margin-bottom: 10px;
}

.center-butt {
    margin-right: 32%;
    margin-left: 38%;
    margin-bottom: 10px;
}


.booked_box {
    margin-bottom: 15px;
}

.but_more {
    display: inline-block;
    padding-left: 80%;
    padding-top: 0;
}

#shadow {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
}

#window {
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 15px;
    border: 2px solid darkred;
    border-radius: 10px;
    color: darkred;
    position: fixed;
    right: 0;
    bottom: 350px;
    left: 0;
    margin: auto;
    background: #fff;

}

#shadow:target {
    display: block;
}

.close {
    display: inline-block;
    padding: 0 12px;
    margin: 10px;
    cursor: pointer;
}

.close:hover {
    background: #e6e6ff;
}

.in-block {
    display: inline-block;
}

.ml-20 {
    margin-left: 20px;
}

.marg-b-5 {
    margin-bottom: 5px;
}

.w-280 {
    width: 280px;
}

#marg-t-15 {
    margin-top: 15px;
}

#marg-t-20 {
    margin-top: 20px;
}

.marg-b-10 {
    margin-bottom: 10px;
}

#marg-b-15 {
    margin-bottom: 15px;
}

#marg-t-5 {
    margin-top: 5px;
}

#marg-t-50 {
    margin-top: 50px;
}

.marg-t-15 {
    margin-top: 50px;
}

.center-text {
    text-align: center;
}

.marg-l-4 {
    margin-left: 4%;
}

.marg-r-20 {
    margin-right: 20%;
}

.marg-b-20 {
    margin-bottom: 20px;
}

.marg-l-30 {
    margin-left: 30px;
}

.marg-t-10 {
    margin-top: 10px;
}

.marg-b-1 {
    margin-bottom: 1px;
}

.marg-10 {
    margin: 10px;
}

.w-150 {
    width: 150px;
}

.w-12 {
    width: 12%;
}

.small_avatar {
    border-radius: 100px; /* Радиус скругления */
    /*box-shadow: 0 0 0 0 grey, 0 0 13px #333; /* Параметры теней */
    margin-bottom: 5px;
    margin-right: 5px;
}

.w-65 {
    width: 60%;
}

.shadow-line {
    box-shadow: 0 0 0 0 grey, 0 0 13px #333;
    margin-top: 5%;
}

.w-15 {
    width: 15%;
}

.marg-r-0 {
    margin-right: 0;
}

.marg-r-8 {
    margin-right: 8px;
}

.filter-btn {
    margin-left: 45%;
    margin-top: 5%
}

.font-large {
    font-size: large;
}

.hotel-box-border {
    border: 0.5px solid darkslateblue;
}

.marg-l-90 {
    margin-left: 90%;
}

.width-90 {
    width: 90%;
}

.rate-number {
    color: white;
    background-color: #6a1a21;
    padding: 2px
}

div.scrollmenu {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
}
.scrollmenu::-webkit-scrollbar {
    display: none;
}


.dob{
    border-bottom: 1px solid #6a6b6e
}

.dob::placeholder {
    color: #6a6b6e;
    font-size: medium;
}

.link-none {
    text-decoration: none;
}





